/*Rajesh Rathor CSS*/
*{
    font-family: 'Nunito', sans-serif;
  }

#footer {
    background-color: #f7f9fb;
    background-image: url(../img/dots-new.png);
    background-size: cover;

}
#footer .footer-content{
    padding: 90px 0 50px;
    position: relative;
    z-index: 1;
}
#footer h2{
        font-size: 18px;
    margin-bottom: 30px;
    position: relative;
    text-transform: capitalize;
        color: #001733;
    text-decoration: none;
    font-weight: 700;
    line-height: 1.5;
}
.contact-info {
    margin-bottom: 20px;
    position: relative;
    list-style-type: none;
    padding-left: 0;
        margin-top: 12px;
}
.contact-info li {
    margin: 0 0 15px;
    position: relative;
    line-height: 23px;
    font-size: 15px;
    color: #545050;
}
.contact-info li span {
    font-weight: 700;
    color: #001733;
}
.contact-info li:hover {
    color: #f71735;
}
.quick-links {
    list-style: none;
    padding-left: 0;
    margin: 0;
}
.quick-links li{
    margin-bottom: 15px;
    position: relative;
    line-height: 23px;
}
.quick-links li a{
    font-weight: 700;
    color: #001733;
    display: block;
    font-size: 15px;
    line-height: 23px;
    position: relative;
    text-transform: capitalize;
}
.quick-links li a:hover{
    color: #f71735!important;
    text-decoration: none;
}

#footer .social-icons{
        margin-bottom: 10px;
}
.social-icons a i{
    color: #131e4a;
    display: block;
    float: left;
    font-size: 16px;
    margin-right: 15px;
    position: relative;
    text-align: center;
}
#footer .social-icons a i:hover{
    color: #f71735;
    text-decoration: none;
}


@media (max-width:767px){
    #footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}
.all-services{
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}
.all-services a{
    color: #fff;
    border: 2px solid #ffd200;
    padding: 10px;
}
.all-services a:hover{
    text-decoration: none;
}

.footerNav {
    padding: 0 8px;
}
.footer-nav-new {
    border-top: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
    padding: 10px 0;
    font-size: 13px;
    margin: 8px 0 14px 0;
}
.footer-nav-new ul{
    margin-left: -43px;
}

.footer-nav-new li {
    float: left;
    font-weight: 500;
    line-height: 34px;
    font-size: 13px;
    letter-spacing: .01em;
    list-style: none;
}
.footer-nav-new li a {
    color: #fff;
    padding: 10px;
    font-size: 13px;
    min-width: 45px;
    height: 45px;
    display: block;
    position: relative;
}
.footer-nav-new li a:hover{
    color: #ffd200!important;
    text-decoration: none;
}

.footer-nav-new .social-icons a{
    padding: 5px;
}
.footer-nav-new .social-icons a:hover{
    text-decoration: none;
}
.footer-nav-new .social-icons{
    margin-top: 13px;
}

.footer-content .news-widget .news-post {
    margin-bottom: 40px;
    padding: 0 0 0 80px;
    position: relative;
    line-height: 23px;
}
.footer-content .news-widget .news-post .image-thumb {
    height: 65px;
    left: 0;
    position: absolute;
    top: 0;
    width: 65px;
}
.footer-content .news-widget .news-post .image-thumb img {
    display: block;
    width: 65px;
}
.footer-content .news-widget .news-post a {
    position: relative;
    text-transform: capitalize;
    font-family: 'Nunito',sans-serif;
    font-weight: 700;
    color: #001733;
    font-size: 15px;
}
.footer-content .news-widget .news-post .time {
    color: #545050;
    font-size: 15px;
    position: relative;
}
.footer-content .news-widget .news-post a:hover {
    color: #f71735;
    text-decoration: none;
}
#footer hr {
    border: 0!important;
    border-top: 2px solid #f71735!important;
    clear: both!important;
    width: 80px!important;
    margin: 0 0 20px!important;
    height: 0px!important;
}
.footer-copyright {
    color: #545050;
    font-size: 15px;
    position: relative;
    text-align: center;
}
.footer-copyright .copyright {
    font-size: 15px;
    padding: 20px 0;
    position: relative;
    border-top:none;
}
.footer-copyright .copyright a {
    font-weight: 700;
    color: #001733;
}
.footer-copyright .copyright a:hover {
    font-weight: 700;
    color: #001733;
    text-decoration: none;
}